{% extends 'index_base.html' %}

{% block content %}

<style>
    .container{
        margin-top: 70px;
    }

    .caja-animales {
        margin-top: 50px;
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }

    .caja-animales img{
        width: 550px;
        height: auto;
    }

</style>

<div class="container">
    
    <form method="post" class="forma">
        {% csrf_token %}

        <h2>Registro de usuario</h2>

        <label for="id_username">Usuario:</label>
        {{ form.username }}<br>
        
        <label for="id_email">Email:</label>
        {{ form.email }}<br>
        
        <label for="id_password1">Contraseña:</label>
        {{ form.password1 }}<br>
        
        <label for="id_password2">Confirmar Contraseña:</label>
        {{ form.password2 }}<br>

        <div class="button-box">
            <button type="submit">Registrarse</button>
        </div>
    </form>

    <div class="caja-animales">
        <img src="/static/images/leopardo.jpg" alt="">
        <img src="/static/images/elefante.jpg" alt="">
    </div>

</div>

{% endblock %}
    



